@using ColorWebsite.Data.Entities;
@model List<DemoColor>

@{
    ViewBag.Title = "Home";
}

<p>
   Web App Instance ID: @Environment.GetEnvironmentVariable("WEBSITE_INSTANCE_ID")

</p>

<p>
    <h1>Do you like colors?</h1>
</p>

<div class="row">
    @if (Model.Count > 0)
    {
        
        <div class="col-md-4" style="height:40em;background-color:@Model[0].Name">
            <h2>@Model[0].Name</h2>
        </div>

        <div class="col-md-4" style="height:40em;background-color:@Model[1].Name">
            <h2>@Model[1].Name</h2>

        </div>


        <div class="col-md-4" style="height:40em;background-color:@Model[2].Name">
            <h2>@Model[2].Name</h2>

        </div>

    }
    else
    {
        <h1>No colors found!</h1>
    }
</div>